/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #05b534;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__logo {
    width: 200px;
    height: auto;
    margin-left: 630px;
    transition: transform 0.3s ease;
}

.header__logo:hover {
    transform: scale(1.05);
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Estilos para el botón de volver al inicio */
.header__nav-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
    padding: 10px 20px;
    background-color: #05b534;
    border-radius: 5px;
    margin-right: 20px;
}

.header__nav-item:hover {
    opacity: 0.8;
    background-color: #048a28;
}

/* Main section */
.main {
    padding: 20px;
}

.pdf-section__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #05b534;
}

.pdf-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de PDF */
.pdf-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pdf-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pdf-card__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #05b534;
}

.pdf-card__description {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

.pdf-card__link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #05b534;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pdf-card__link:hover {
    background-color: #048a28;
}

/* Botón flotante */
.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #05b534;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: none;
}

.btn-flotante:hover {
    background-color: #048a28;
    transform: scale(1.1);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .pdf-section__container {
        grid-template-columns: 1fr;
    }
}